In [114]:
import pickle
import pandas as pd
import numpy as np
mojodf = pickle.load( open( "mojoFRAME.pkl", "rb" ) )
numdf = pickle.load(open("numdf.pkl","rb"))

In [115]:
numdf.head()

,budget,domestic_gross,movie_title,release_date,worldwide_gross
0,"$175,000,000","$102,491,776",The Mummy: Tomb of the Dragon Emperor,8/1/2008,"$405,760,225"
1,"$175,000,000","$100,289,690",Evan Almighty,6/22/2007,"$174,131,329"
2,"$175,000,000","$88,246,220",Waterworld,7/28/1995,"$264,246,220"
3,"$175,000,000","$39,175,066",King Arthur: Legend of the Sword,5/12/2017,"$139,950,708"
4,"$175,000,000","$38,362,475",47 Ronin,12/25/2013,"$151,716,815"

In [116]:
dol_to_int = lambda x: int(x.replace('$','').replace(',',''))
numdf['budget'] = numdf['budget'].apply(dol_to_int)

In [117]:
numdf['domestic_gross'] = numdf['domestic_gross'].apply(dol_to_int)
numdf['worldwide_gross'] = numdf['worldwide_gross'].apply(dol_to_int)
numdf['release_date'] = pd.to_datetime(numdf['release_date'])

In [118]:
numdf.head()

,budget,domestic_gross,movie_title,release_date,worldwide_gross
0,175000000,102491776,The Mummy: Tomb of the Dragon Emperor,2008-08-01,405760225
1,175000000,100289690,Evan Almighty,2007-06-22,174131329
2,175000000,88246220,Waterworld,1995-07-28,264246220
3,175000000,39175066,King Arthur: Legend of the Sword,2017-05-12,139950708
4,175000000,38362475,47 Ronin,2013-12-25,151716815

In [119]:
mojodf.head()
mojodf.columns = (['domestic_gross','genre','movie_title','opening_weekend_gross','opening_weekend_percentage','rating','release_date','runtime'])

In [120]:
mojodf.head()
string_clean = lambda x: x.lower().strip().replace(':','')

In [121]:
mojodf['movie_title'] = mojodf['movie_title'].apply(string_clean)
numdf['movie_title'] = numdf['movie_title'].apply(string_clean)

In [122]:
import difflib
def title_matcher(x):
    try:
        #difflib returns a LIST of close matches, we are choosing the first member of the list 
        matches = (difflib.get_close_matches(x, mojodf['movie_title']))
        return matches[0]
    except:
        # if there is no match, a null value will be inserted into the data frame 
        return np.NaN

In [129]:
numdf['likely_match'] = numdf['movie_title'].apply(title_matcher)

In [139]:
workingcopy = numdf
numdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4705 entries, 0 to 5493
Data columns (total 6 columns):
budget             4705 non-null int64
domestic_gross     4705 non-null int64
movie_title        4705 non-null object
release_date       4705 non-null datetime64[ns]
worldwide_gross    4705 non-null int64
likely_match       4705 non-null object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 257.3+ KB

In [140]:
#drop entries from 
workingcopy.dropna(axis=0,subset=['likely_match'],inplace=True)
workingcopy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4705 entries, 0 to 5493
Data columns (total 6 columns):
budget             4705 non-null int64
domestic_gross     4705 non-null int64
movie_title        4705 non-null object
release_date       4705 non-null datetime64[ns]
worldwide_gross    4705 non-null int64
likely_match       4705 non-null object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 257.3+ KB

In [143]:
workingcopy['movie_title'] = workingcopy['likely_match']

In [148]:
cinedf = pd.merge(mojodf, workingcopy, on='movie_title')

In [150]:
cinedf.head()

,domestic_gross_x,genre,movie_title,opening_weekend_gross,opening_weekend_percentage,rating,release_date_x,runtime,budget,domestic_gross_y,release_date_y,worldwide_gross,likely_match
0,65187603.0,Adventure,jack the giant slayer,27202226.0,41.7,PG-13,2013-03-01,114,100000,10178331,2006-09-29,10243159,jack the giant slayer
1,177243721.0,Family Adventure,night at the museum battle of the smithsonian,54173286.0,30.6,PG,2009-05-22,105,150000000,177243721,2009-05-22,402231063,night at the museum battle of the smithsonian
2,87242834.0,Fantasy,miss peregrine's home for peculiar children,28871140.0,33.1,PG-13,2016-09-30,127,110000000,87242834,2016-09-30,296642834,miss peregrine's home for peculiar children
3,38702310.0,Romantic Comedy,about last night...,3152469.0,8.1,R,1986-07-04,113,13000000,48637684,2014-02-14,50445860,about last night...
4,23334953.0,Sports Drama,raging bull,128590.0,0.6,R,1980-11-14,129,18000000,23380203,1980-11-14,23380203,raging bull

In [151]:
cinedf.isnull().values.any()

False

In [152]:
cinedf.head()

,domestic_gross_x,genre,movie_title,opening_weekend_gross,opening_weekend_percentage,rating,release_date_x,runtime,budget,domestic_gross_y,release_date_y,worldwide_gross,likely_match
0,65187603.0,Adventure,jack the giant slayer,27202226.0,41.7,PG-13,2013-03-01,114,100000,10178331,2006-09-29,10243159,jack the giant slayer
1,177243721.0,Family Adventure,night at the museum battle of the smithsonian,54173286.0,30.6,PG,2009-05-22,105,150000000,177243721,2009-05-22,402231063,night at the museum battle of the smithsonian
2,87242834.0,Fantasy,miss peregrine's home for peculiar children,28871140.0,33.1,PG-13,2016-09-30,127,110000000,87242834,2016-09-30,296642834,miss peregrine's home for peculiar children
3,38702310.0,Romantic Comedy,about last night...,3152469.0,8.1,R,1986-07-04,113,13000000,48637684,2014-02-14,50445860,about last night...
4,23334953.0,Sports Drama,raging bull,128590.0,0.6,R,1980-11-14,129,18000000,23380203,1980-11-14,23380203,raging bull

In [155]:
with open('cinedf.pkl','wb') as picklefile:
    pickle.dump(cinedf,picklefile)

In [156]:
import seaborn as sns

In [159]:
cinedf.drop(['domestic_gross_y','release_date_y','likely_match'], axis=1,inplace=True)

In [161]:
cinedf.columns = ['domestic_gross', 'genre', 'movie_title','opening_weekend_gross','opening_weekend_percentage','rating','release_date','runtime','budget','worldwide_gross']

In [ ]:
dummy = pd.get_dummies(cinedf['rating'])

In [164]:
with open('truffaut.pkl','wb') as picklefile:
    pickle.dump(cinedf,picklefile)